 .list0-style{
    list-style: none;
 }
 .shop-button{
    display: list-item;
    margin: 10px;
 }
 .checkout-container{
   height: 100vh;
 }
 .checkout-style{
  text-align: center;
  top: 50%;
  left: 50%;
 }